ul,
ol {
	font-family: var(--list--font-family);
	margin: 0;
	padding-left: calc(2 * var(--global--spacing-horizontal));

	// Utility classes
	&.aligncenter {
		list-style-position: inside;
		padding: 0;
	}

	&.alignright {
		list-style-position: inside;
		text-align: right;
		padding: 0;
	}
}

ul {
	//list-style-type: disc;
	line-height: 2;
}

ol {
	list-style-type: decimal;
}

dt {
	font-family: var(--definition-term--font-family);
	font-weight: normal!important;
}

dd {
	margin: 0;
	padding-left: calc(2 * var(--global--spacing-horizontal));
}






/***********

 List Box
 Turns a list into a boxs that flow on a row with wrap. 

********/

ul.list-box {
    display: flex;
    margin: 10px auto;
    padding: 0;
    flex-flow: row wrap;
    align-items: center;
    
    justify-content: space-evenly;
    width: 90%;
    list-style-type: none;
    //border: var(--global-border);
    
	li {
		margin: 1rem; 
		padding: 1rem;
		min-width: 12rem;
		flex-basis: 10rem;
		min-height: 5rem;
		height: auto;
		border: var(--global-border);
		text-align: center;
		box-shadow: 2px 5px #888888;
		line-height: var(--global--line-height-body);
	}


}


/*********

 Checkmark List
 Turn list into a checkmark list. 

******************/
ul.checkmark-list  {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width:90;
    text-align: left;
  }

.checkmark-list li {  padding-left: 1rem; }
.checkmark-list  li:before {
    margin: 0 2px;
    padding: 10px;
    content: '✓';
    color: var(--global--color-purple);

} 