
/**************************

Canada Info Issue 1 Extras


***************************/

.province { 
    margin: 1rem auto;
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    //border: var(--global-border);
}

.province  {

    .list-inline-item {
        margin: 1rem;
        padding-left: 1rem;
        width: 20rem;
        height: 2rem;
        

        border-bottom: var(--global-border);
        box-shadow: 2px 5px #888888;
        position: relative;
    }
    .list-inline-item::after {
        width: 0;
        height: 0;
        //border-left: 50px solid transparent;
        //border-right: 50px solid transparent;
        //border-top: 100px solid red;
        
        position: absolute;        top: 0px;
        right: 50px;
    }
}


/***************


 Styling to Visualize Canadian Party Data

********************/

.canadaguide-map {
    flex: 100%;
    height: auto;
    background-color: white;
}

#canadian-politic-parties {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    //border: var(--global-border);
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.party {
    margin: 1rem;
    flex: 30%;
    min-width: 10em;
    min-height: 5em;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;

}

.party-logo { 
    margin: 5px auto;
    margin-bottom: 8px; 
    height: 2em; 
    text-align: center; 
    clear:both; 
}

.party p { margin: 5px; text-align: center;}


//Currently not used.
.leader-img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 280px;
    max-height: 375px;
    clear:both;
   
}

//Party Color Blocks
.colorblock {
    height: 2em;
    width: 100%;
}

.colorblock-bottom {
    height: 2em;
    width: 100%;
    justify-content: flex-end;
    display: flex;
}

//Party Colour presests 
.liberal { background-color: rgb(204, 0, 0);}
.conservative { background-color: rgb(4, 0, 231);}
.ndp { background-color: rgb(204, 116, 0);}
.bloc { background-color: rgb(0, 52, 194);}
.people { background-color: rgb(81, 21, 245);}
.green { background-color: rgb(43, 149, 66);}
